= form_for @availability do |f|
  - if @availability.errors.any?
    #error_explanation
      %h2= "#{pluralize(@availability.errors.count, "error")} prohibited this availability from being saved:"
      %ul
        - @availability.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
